/* header style */
nav {
  box-shadow: 0 0 12px -2px black;
  position: fixed;
  left: 0;
  right: 0;
  align-items: center;
  background-color: black;
  color: antiquewhite;
  display: flex;
  height: 80px;
  padding: 10px;
  justify-content: space-between;
}
div {
  display: block;
  unicode-bidi: isolate;
}
#links {
  font-size: x-large;
}
a {
  color: antiquewhite;
  margin: 5px;
}

/* body style */
body {
  background-color: antiquewhite;
}

/* img style */
img {
  height: 500px;
}
.container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

/* about style */
#about {
  font-weight: 600;
}

/* home style */
#home {
  font-weight: 600;
}
